

.kj:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: .8rem;
	height: .8rem;
	/*background: url(./img/kj.png?v=208b6d6) no-repeat;*/
	background-size: .8rem
}

.type:after {
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-style: normal;
	color: #FFF;
	font-size: .8rem;
	border-radius: 1rem
}

.lsg:after {
	background: #247dac;
	font-size: .45rem;
	content: "临时工"
}

.dy:after {
	background: #9cd332;
	content: "调研"
}

.sx:after {
	background: #27b394;
	content: "实习"
}

.mt:after {
	background: #ff89ff;
	content: "模特"
}

.yc:after {
	background: #9d8ef5;
	content: "演出"
}

.pd:after {
	background: #eb5353;
	content: "派单"
}

.ly:after {
	background: #fa8334;
	content: "礼仪"
}

.sj:after {
	background: #57b6ed;
	content: "设计"
}

.wy:after {
	background: #958bca;
	content: "文员"
}

.xs:after {
	background: #f2cc1c;
	content: "销售"
}

.cx:after {
	background: #cb699c;
	content: "促销"
}

.jj:after {
	background: #5691e8;
	content: "家教"
}

.kf:after {
	background: #e85682;
	content: "客服"
}

.xn:after {
	background: #6bba48;
	content: "校内"
}

.fwy:after {
	background: #b59f8a;
	font-size: .45rem;
	content: "服务员"
}

.fy:after {
	background: #f29f33;
	content: "翻译"
}

.qt:after {
	background: #5fb7a6;
	content: "其他"
}

.scy:after {
	background: #ff8875;
	font-size: .45rem;
	content: "送餐员"
}

.ab:after {
	background: #568db2;
	content: "安保"
}

.m_qt:after {
	background: #fff;
	border: 1px solid #36ae68;
	color: #36ae68;
	content: "其他"
}

.m_fx:after {
	background: #fff;
	border: 1px solid #ffc515;
	color: #ffc515;
	content: "分享"
}

.m_hd:after {
	background: #fff;
	border: 1px solid #69ceff;
	color: #69ceff;
	content: "互动"
}

.m_ty:after {
	background: #fff;
	border: 1px solid #fd5720;
	color: #fd5720;
	content: "体验"
}
