<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/job.css">
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>

		<div class="index_box1">
			<header class="mui-bar mui-bar-nav index_head">
				<a class="address">贵阳<span class="mui-icon mui-icon-arrowdown"></span></a>
				<a class="myed" href="personal.html"><span class="mui-icon mui-icon-contact"></span></a>
				<div class="mui-input-row mui-search sousuo">
					<input type="search" class="mui-input-clear index_sou" placeholder="大家都在搜：实习">
				</div>
			</header>
			<!-- 轮番图 -->
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<!--<img src="images/yuantiao.jpg">-->
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/job1.jpg">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/job2.jpg">
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/job3.jpg">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="images/job1.jpg">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>

			<!--岗位-->
			<div class="index_g">
				<div class="jrgw">
					<img src="images/icon/fabu1.png" />
					<div>
						<span>今日岗位</span>
						<span><b id="jobNumber">0</b>人</span>
					</div>
				</div>
				<div class="ywc">
					<img src="images/icon/wancheng.png" />
					<div>
						<span>已完成</span>
						<span><b id="finishJobnumber">0</b>人</span>
					</div>
				</div>
			</div>
		</div>
		<div id="vueJob" v-cloak>
			<!--区域-->
			<div class="index_address_tit addresse">
				<div class="index_address_list1">
					<span class="index_t" v-if="areaName == null">区域</span>
					<span v-if="areaName != null">{{areaName}}</span>
					<img src="images/icon/down.png" />
				</div>
				<div class="index_address_list2">
					<span class="index_t" v-if="jtName == null ">类型</span>
					<span v-if="jtName != null ">{{jtName}}</span>
					<img src="images/icon/down.png" />
				</div>
				<div class="index_address_list3">
					<span class="index_t" v-if="jttName == null">时间</span>
					<span v-if="jttName != null">{{jttName}}</span>
					<img src="images/icon/down.png" />
				</div>
			</div>
			<!--区域end-->
			
			<!--广播-->
			<div id="vip">
				 <ul id="list" style="top: 0px;">
					 <li>欢迎选择黑马兼职</li>
					 <li>我们将竭诚为您服务</li>
				 </ul> 
			</div>
			<div class="index_box2">
				<header class="mui-bar mui-bar-nav per_head">
					<a class="index_box2_left mui-icon mui-icon-left-nav mui-pull-left" @click="returnJob"></a>
					<a class="myed par_s" @click="searchJob">搜索 </a>
					<div class="mui-input-row mui-search sousuo">
						<input type="text" class="index_sou1" placeholder="大家都在搜：实习" v-model="name">
					</div>
				</header>
				<ul class="par_box">
					<p>热搜</p>
					<li>
						<span>实习</span>
					</li>
					<li>
						<span>日结</span>
					</li>
					<li>
						<span>哈哈</span>
					</li>
				</ul>
				<div class="index_box2_ss"></div>
			</div>

			<!--遮罩-->
			<div class="index_address_list_box" @click="closeType($event)">
				<!--区域选择-->
				<div class="index_address_list" @click.stop="closeStopType">
					<div class="index_address_tit">
						<div class="active index_address_list11">
							<span class="index_t" v-if="areaName == null">区域</span>
							<span v-if="areaName != null">{{areaName}}</span>
							<img src="images/icon/down_active.png" />
						</div>
						<div class="index_address_list22">
							<span class="index_t" v-if="jtName == null ">类型</span>
							<span v-if="jtName != null ">{{jtName}}</span>
							<img src="images/icon/down.png" />
						</div>
						<div class="index_address_list33">
							<span class="index_t" v-if="jttName == null">时间</span>
							<span v-if="jttName != null">{{jttName}}</span>
							<img src="images/icon/down.png" />
						</div>
					</div>
					<div class="index_address_cont index_address_cont1">
						<div>选择区域</div>
						<ul class="index_address_cont_text">
							<p @click="jobTypeArea(0,$event)"><span>全部</span></p>
							<li v-for="ja in jobArea" ><span @click="jobTypeArea(ja,$event)">{{ja.areaName}}</span></li>
						</ul>
					</div>
					<div class="index_address_cont index_address_cont2">
						<div>选择类型</div>
						<ul class="index_address_cont_text">
							<p @click="jobSelectType(0,$event)"><span>全部</span></p>
							<li v-for="jt in jobType"><span  @click="jobSelectType(jt,$event)">{{jt.jtName}}</span></li>
						</ul>
					</div>
					<div class="index_address_cont index_address_cont3">
						<div v-if="jttName == null">选择时间</div>
						<div v-if="jttName != null">{{jttName}}</div>
						<ul class="index_address_cont_text3">
							<li class="active" @click="jobTimeType(null,0,$event)"><span>全部</span></li>
							<li><span @click="jobTimeType('日兼职',1,$event)">日兼职</span></li>
							<li><span @click="jobTimeType('长期兼职',2,$event)">长期兼职</span></li>
							<li><span @click="jobTimeType('周末兼职',3,$event)">周末兼职</span></li>
						</ul>
					</div>
				</div>
				<div class="close_box"></div>
			</div>

			<ul class="mui-table-view mui-table-view-striped index_ mui-table-view-condensed" id="jobLi">

				<li class="mui-table-view-cell" v-for="j in job" @click="intoJob(j)">
					<div class="mui-slider-cell">
						<div class="oa-contact-cell mui-table">
							<div class="oa-contact-avatar mui-table-cell">
								<!--<img :src="j.userPhoto | photo" />-->
								<i :class="[type , j.typePinYin]"></i>
							</div>
							<div class="oa-contact-content mui-table-cell">
								<div class="mui-clearfix">
									<h4 class="oa-contact-name tit">{{j.jobName}}</h4>
								</div>
								<p class="oa-contact-email mui-h6">
									{{j.areaName}}&nbsp;&nbsp;{{j.jobWorkbeginTime | formatTiem}}&nbsp;&nbsp;起工作（共{{j.time}}天）
								</p>
								<div class="bottom clearfix">
									<div class="money">{{j.jobMoney}}{{j.jttName}}</div>
									<div class="time">{{j.jobCreateTtime | showTime}}</div>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script src="js/require.js" data-main="js/job/jobIndex.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			mui("#slider").slider({
				interval: 2000
			});
			setTimeout(function(){
				$(".time").html($(".time").html())
			},500)			
		</script>
	</body>

</html>
