<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发布兼职</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/mui.picker.min.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<div id="vueIssue">
		<header class="mui-bar mui-bar-nav per_head">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">发布兼职</h1>
		</header>
		<ul class="iss_cont iss_cont2">
			<li>
				<div>兼职标题</div>
				<div>
					<input type="text" placeholder="请输入兼职标题" v-model="jobName"/>
				</div>
			</li>
			<li class="lx" @click="selectTypeLx">
				<div>兼职类型</div>
				<div>
					<input class="par" type="text" readonly="readonly" placeholder="请选择兼职类型" v-model="jobTypeText"/>
				</div>
			</li>
			<li>
				<div>工作日期</div>
				<div>
					<input id='demo2' data-options='{"type":"date","beginYear":2017,"endYear":2020}' class="iss_time_btn btn btn_t mui-btn mui-btn-block" type="button" value="+工作日期"/>
					<span class="demo2_ti"></span>
					<span style="display: none;" class="demo2_ti1"></span>
				</div>
			</li>
			<li class="iss_he_box">
				<div>上班时段</div>
				<div>
					<input id='demo1' data-options='{"type":"time"}' class="iss_time_btn btn btn_t11 mui-btn mui-btn-block" type="button" value="+上班时段"/>
					<span class="demo1_ti"></span>
					<span style="display: none;" class="demo1_ti1"></span>
					<div>
						<div class="mui-input-row mui-checkbox mui-left">  
							<label class="iss_ch_span">上班时间不限，完成任务即可</label>  
							<input class="iss_ch" name="checkbox1" value="" type="checkbox">  
						</div>  
					</div>
				</div>
			</li>
			<li >
				<div>招聘人数</div>
				<div class="iss_text_img">
					<input  type="number" placeholder="请输入有效数字" v-model="jobNumber"/>
					<span>人</span>
				</div>
			</li>
			<li class="iis_mon" >
				<div>工资待遇</div>
				<div class="iss_text_img">
					<input class="iis_qian"  type="text" placeholder="请输入有效数字" v-model="jobMoney"/>
					<span  @click="selectMon" class="iss_qian">{{jobMoneyText}}</span>
					<img src="images/icon/down.png" />
				</div>
			</li>
			<li class="iis_sex" @click="selectSex">
				<div>性别要求</div>
				<div class="iss_text_img">
					<input  type="text" readonly="readonly" v-model="sex" class="iis_sex_text"  placeholder="请选择性别"/>
					<img src="images/icon/down.png" />
				</div>
			</li>
		</ul>
		<ul class="iss_cont iss_cont1">
			<li class="iss_he_box">
					<div>兼职描述</div>
					<div>
						<textarea class="iis_text" placeholder="请输入相关工作内容，岗位要求等。" name="" rows="" cols="" v-model="jobText"></textarea>
					</div>
			</li>
			<li>
				<div>发布机构</div>
				<div>
					<input type="text" placeholder="请输入发布机构" v-model="jobCompany"/>
				</div>
			</li>
			<li>
				<div>选择地址</div>
				<div class="iss_text_img">
					<input id='showCityPicker3' class="adddss" type="text" placeholder="请选择地址" readonly="readonly" />
					<input type="hidden" value="" class="areadId" />
					<img src="images/icon/down.png" />
				</div>
			</li>
			<li>
				<div>详细地址</div>
				<div>
					<input type="text"  placeholder="请输入详细地址" v-model="jobAddress"/>
				</div>
			</li>
			<li>
				<div>联系人</div>
				<div>
					<input type="text" placeholder="请输入联系人姓名" v-model="jobContacts"/>
				</div>
			</li>
			<li>
				<div>联系电话</div>
				<div>
					<input type="text" placeholder="请输入手机号" v-model="jobCall"/>
				</div>
			</li>
		</ul>
		<div class="issue_box"></div>
		<div class="issue_btn" @click="jobCommit">发布</div>
		<!--弹出层-->
		<div class="iss_box" @click="closebox">
			<!--
            	作者：1104079072@qq.com
            	时间：2017-12-14
            	描述：选择性别
            -->
			<div class="iss_mob iss_moob1">
				<div>请选择</div>
				<li v-for="s in jobSelectSex" @click="selectSexJob($event,s.sex)">{{s.sex}}</li>
			</div>
			
			<!--
            	作者：1104079072@qq.com
            	时间：2017-12-14
            	描述：工资待遇
            -->
			<div class="iss_mob iss_moob2">
				<div>请选择</div>
				<li  v-for="t in jobTimeType" @click="selectMoneyJob($event,t)">{{t.jttName}}</li>
			</div>
		</div>
		
		<!--
            	作者：1104079072@qq.com
            	时间：2017-12-14
            	描述：兼职类型
            -->
		<ul class="par_list" >
			<li   v-for="t in jobType" ><span @click="selectType($event,t)">{{t.jtName}}</span></li>
		</ul>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/mui.picker.min.js" ></script>
		<script type="text/javascript" src="js/city.data-3.js" ></script>
		<script type="text/javascript" src="js/mui.picker.js" ></script>
		<script type="text/javascript" src="js/mui.poppicker.js" ></script>
		<script type="text/javascript" src="js/require.js" data-main="js/job/issue.js"></script>
	</body>

</html>