<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>兼职详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/mui.picker.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="js/layer/theme/default/layer.css" />
		<style>
			[v-cloak]{ display: none; }
		</style>
	</head>

	<body>
		<div id="detailsJob" v-cloak>
		<header class="mui-bar mui-bar-nav per_head">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">兼职详情</h1>
		</header>
		<ul class="iss_cont">
			<li>
				<div>兼职标题</div>
				<div>
					<input type="text" v-model="jobName" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>兼职类型</div>
				<div>
					<input type="text" v-model="jtName" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>工作日期</div>
				<div>
					<input type="text" v-model="jobWork" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>上班时段</div>
				<div>
					<input type="text" v-model="jobTime" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>招聘人数</div>
				<div>
					<input type="text" v-model="jobNumber" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>工资待遇</div>
				<div>
					<input type="text" v-model="jobMoney" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>性别要求</div>
				<div>
					<input type="text" v-model="jobSex" readonly="readonly" />
				</div>
			</li>
		</ul>
		<ul class="iss_cont iss_cont1">
			<li class="iss_he_box">
					<div>兼职描述</div>
					<div>
						<textarea readonly="readonly" class="iis_text" name="" rows="" cols="">{{jobText}}</textarea>
					</div>
				</li>
		</ul>
		<ul class="iss_cont iss_cont1" >
			<li>
				<div>公司信息</div>
				<div>
					<input type="text" v-model="jobCompany" readonly="readonly" />
				</div>
			</li>
			<li>
				<div>联系人</div>
				<div>
					<input type="text" v-model="jobContacts" readonly="readonly" />
				</div>
			</li>
			<li v-if="isBm == true">
				<div>联系电话</div>
				<div>
					<a :href="telCall">{{jobCall}}</a>
				</div>
			</li>
		</ul>
		<ul class="iss_cont iss_cont1" >
			<li class="iss_he_box">
					<div>公司地址</div>
					<div>
						<textarea readonly="readonly" class="iis_text" name="" rows="" cols="">{{jobAddress}}</textarea>
					</div>
				</li>
		</ul>
		<!--底部-->
		<div class="iss_yyy"></div>
		<div class="issue_part_">
			<div class="iss_sc" @click="doCollect">
				<img v-if="isCollect == false" src="images/icon/shouchang.png"/>
				<img v-if="isCollect == true" src="images/icon/shoucang_active.png"/>
				<span>收藏</span>
			</div>
			<div v-if="isBm == true" class="baomin" @click="baomin">已报名</div>
			<div v-if="isBm == false" class="baomin" @click="baomin">我要报名</div>
		</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script src="js/require.js" data-main="js/job/detailsJob.js"></script>
	</body>

</html>