<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的简历</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/index.css" />
		<style>
			[v-cloak]{ display: none; }
		</style>
	</head>

	<body style="background: #FFF;">
		<header class="mui-bar mui-bar-nav per_head">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的简历</h1>
		</header>
		<!--头部end-->
		<div id="vueUser" v-cloak>
		<form :action="urlAjax" enctype="multipart/form-data" id="form_user"  method="post">
		<ul class="myjl_list">
			<li>
				<span>头像</span>
				<div>
					<img id="pic" :src="userPhoto" @click="updateImg()">
					<input id="userPhoto" name="file" accept="image/*" type="file" style="display: none" />
				</div>
			</li>
			<li>
				<span>姓名</span>
				<div>
					<input class="namee" name="userName" type="text" placeholder="请输入真实姓名" v-model="userName" />
				</div>
			</li>
			<li>
				<span>性别</span>
				<div>
					<div class="sex">
						<input name="userSex" type="radio" checked="checked" value="1" />男
						<input name="userSex" type="radio" value="0"  />女
					</div>
				</div>
			</li>
			<li>
				<span>出生日期</span>
				<div>
					<input class="agee" type="date" placeholder="出生日期" v-model="userBirthday"/>
				</div>
			</li>
			<li>
				<span>身份证</span>
				<div>
					<input name="userCard" class="sfz" type="text" placeholder="请输入身份证号码"  v-model="userCard" />
				</div>
			</li>
			<li>
				<span>手机号</span>
				<div>
					<input name="userCall" class="phonee" type="text"  v-model="userCall" placeholder="请输入手机号" />
				</div>
			</li>
		</ul>
		</form>
		<div class="myjl_btn" @click="doUser">
			保存
		</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script src="js/require.js" data-main="js/user/updateUser.js"></script>
	</body>

</html>